* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
html {
  font-size: 62.5%;
  overflow-y: hidden;
  overflow-x: hidden;

}

body {
  width: 100vw;
  height: 100vh;
  padding: 0%;
}

#app {
  position: relative;
  margin: 0 auto;
  width: 1200px;
  height: 600px;
  background-color: black;
}

.tile {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: chartreuse;
}

#redApple {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
}