* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  width: 70vw;
  height: 100vh;
  margin: 0 auto;
  padding: 0%;
}

#app {
  width: 100%;
  height: 100%;
  background-color: black;
}

#snake {
  width: 1vw;
  height: 1vh;
  background-color: greenyellow;
}

.y {
  display: inline-block;
  width: 32.3px;
  height: 100%;
}

.x {
  display: block;
  width: 100%;
  height: 37.68px;
  background-color: grey;
}